@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';

.flow {
    position: absolute;
    left: 250px;
    top: 50px;
    width: calc(100vw - 250px);
    height: calc(100vh - 50px);
}

:root {
    --vf-node-bg: rgba(50, 50, 50, .5);
    --vf-node-text: rgb(150, 150, 150);
    --vf-connection-path: #b1b1b7;
    --vf-handle: #555;
}